body {
  margin: 0;
  line-height: normal;
  background: linear-gradient(112.9deg,#357af6,#8431f0 33.6%,#7000ff 70.6%,#ea56c1);
  background-repeat: no repeat;
  background-attachment: fixed;
}
.about-us,
.home {
  position: fixed;
  top: 6%;
  right: 15%;
  cursor: pointer;
}
.about-us {
  right: 5%;
  font-weight: 500;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-50xl: 69px;

  /* Colors */
  --color-white: #fff;
  --color-darkorchid-100: #cf52fc;
  --color-black: #000;
  --color-salmon: #ed7370;
  --color-plum: #df9ef7;

  /* Border radiuses */
  --br-xl: 20px;
}
