.enter-your-components {
  position: absolute;
  top: 701px;
  left: 108px;
  font-weight: 500;
}
.new-project-1-enter-3-child,
.new-project-1-enter-3-item {
  position: absolute;
  top: 576px;
  left: 377px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-salmon);
  box-sizing: border-box;
  width: 255px;
  height: 41px;
}
.new-project-1-enter-3-item {
  top: 757px;
  left: 108px;
  width: 1065px;
}
.new-project-1-enter-3-inner {
  position: absolute;
  top: 576px;
  left: 648px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorchid-100);
  width: 255px;
  height: 41px;
}
.component-name,
.enter-components2,
.select-components2 {
  position: absolute;
  top: 587px;
  left: 431px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.component-name,
.enter-components2 {
  top: 588px;
  left: 704px;
}
.component-name {
  top: 769px;
  left: 120px;
}
.new-project-1-enter-3-child1 {
  position: absolute;
  top: 884px;
  left: 512px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-salmon);
  box-sizing: border-box;
  width: 255px;
  height: 41px;
}
.done2 {
  position: absolute;
  top: 891px;
  left: 618px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  cursor: pointer;
}
.delete-icon,
.plus-math-icon {
  position: absolute;
  top: 671px;
  left: 1143px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.plus-math-icon {
  left: 1095px;
}
.designer-desk1 {
  position: absolute;
  top: 112px;
  left: 464px;
  width: 349px;
  height: 358px;
  overflow: hidden;
}
.about-us5,
.home5 {
  position: absolute;
  top: 72px;
  left: 939px;
  font-weight: 500;
  display: inline-block;
  width: 64px;
  height: 20px;
  cursor: pointer;
}
.about-us5 {
  left: 1083px;
  font-weight: 500;
  width: 92px;
}
.pattarai-logo-white-15 {
  position: absolute;
  top: 39px;
  left: 97px;
  width: 94px;
  height: 65px;
  object-fit: cover;
}
.marv5 {
  position: absolute;
  top: 108px;
  left: 111px;
  font-weight: 800;
  cursor: pointer;
}
.illustrator-drawing-with-ipad-icon2 {
  position: absolute;
  top: 155px;
  left: 455px;
  width: 353px;
  height: 353px;
  overflow: hidden;
}
.new-project-1-enter-3 {
  width: 100%;
  position: relative;
  background: linear-gradient(
    137.89deg,
    #357af6,
    #8431f0 34.1%,
    #7000ff 70.1%,
    #ea56c1
  );
  height: 1347px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
