.electronic-components,
.power-components,
.select-required-components {
  position: absolute;
  top: 670px;
  left: 108px;
  font-weight: 500;
}
.electronic-components,
.power-components {
  top: 731px;
}
.power-components {
  top: 863px;
}
.communication-components,
.mechanical-components {
  position: absolute;
  top: 995px;
  left: 108px;
  font-weight: 500;
}
.communication-components {
  top: 1127px;
}
.new-project-1-select-3-child,
.new-project-1-select-3-item {
  position: absolute;
  top: 562px;
  left: 378px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorchid-100);
  width: 255px;
  height: 41px;
}
.new-project-1-select-3-item {
  top: 771px;
  left: 108px;
  width: 1065px;
}
.new-project-1-select-3-child1,
.new-project-1-select-3-child2,
.new-project-1-select-3-child3,
.new-project-1-select-3-inner {
  position: absolute;
  top: 903px;
  left: 108px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-salmon);
  box-sizing: border-box;
  width: 1065px;
  height: 41px;
}
.new-project-1-select-3-child1,
.new-project-1-select-3-child2,
.new-project-1-select-3-child3 {
  top: 1035px;
}
.new-project-1-select-3-child2,
.new-project-1-select-3-child3 {
  top: 1167px;
}
.new-project-1-select-3-child3 {
  top: 562px;
  left: 648px;
  width: 255px;
}
.enter-components,
.select-components,
.select-your-electronic {
  position: absolute;
  top: 574px;
  left: 431px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.enter-components,
.select-your-electronic {
  top: 783px;
  left: 125px;
}
.enter-components {
  top: 574px;
  left: 704px;
}
.select-your-communication,
.select-your-mechanical,
.select-your-power {
  position: absolute;
  top: 915px;
  left: 125px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.select-your-communication,
.select-your-mechanical {
  top: 1047px;
}
.select-your-communication {
  top: 1179px;
}
.new-project-1-select-3-child4 {
  position: absolute;
  top: 1299px;
  left: 513px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-salmon);
  box-sizing: border-box;
  width: 255px;
  height: 41px;
}
.about-us3,
.done,
.home3 {
  position: absolute;
  cursor: pointer;
}
.done {
  top: 1311px;
  left: 619px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.about-us3,
.home3 {
  top: 60px;
  left: 944px;
  font-weight: 500;
}
.about-us3 {
  left: 1088px;
  font-weight: 500;
}
.pattarai-logo-white-13 {
  position: absolute;
  top: 22px;
  left: 102px;
  width: 94px;
  height: 76px;
  object-fit: cover;
}
.marv3 {
  position: absolute;
  top: 98px;
  left: 116px;
  font-weight: 800;
  cursor: pointer;
}
.illustrator-drawing-with-ipad-icon {
  position: absolute;
  top: 155px;
  left: 463px;
  width: 353px;
  height: 353px;
  overflow: hidden;
}
.new-project-1-select-3 {
  width: 100%;
  position: relative;
  background: linear-gradient(
    141.5deg,
    #357af6,
    #8431f0 34.1%,
    #7000ff 67.6%,
    #ea56c1
  );
  height: 1452px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
