.new-project-child,
.new-project-item {
  position: absolute;
  top: 549px;
  border-radius: var(--br-xl);
  width: 255px;
  height: 41px;
}
.new-project-child {
  left: 378px;
  border: 1px solid var(--color-salmon);
  box-sizing: border-box;
}
.new-project-item {
  left: 648px;
  background-color: var(--color-darkorchid-100);
  cursor: pointer;
}
.enter-components4,
.select-components4 {
  position: absolute;
  top: 561px;
  left: 431px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  cursor: pointer;
}
.enter-components4 {
  left: 704px;
}
.web-development-tasks-teamw1 {
  position: absolute;
  height: 96%;
  width: 95.99%;
  top: 2%;
  right: 2.01%;
  bottom: 2%;
  left: 2.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.web-development-tasks-teamw {
  position: absolute;
  height: 51.05%;
  width: 30.78%;
  top: 15.16%;
  right: 34.61%;
  bottom: 33.8%;
  left: 34.61%;
}
.illustrator-drawing-with-ipad-icon4 {
  position: absolute;
  top: 141px;
  left: 471px;
  width: 353px;
  height: 353px;
  overflow: hidden;
}
.about-us8,
.home8 {
  position: absolute;
  top: 78px;
  left: 942px;
  font-weight: 500;
  cursor: pointer;
}
.about-us8 {
  left: 1086px;
  font-weight: 500;
}
.pattarai-logo-white-17 {
  position: absolute;
  top: 40px;
  left: 100px;
  width: 94px;
  height: 76px;
  object-fit: cover;
}
.marv7 {
  position: absolute;
  top: 119px;
  left: 114px;
  font-weight: 800;
  cursor: pointer;
}
.new-project1 {
  width: 100%;
  position: relative;
  background: linear-gradient(
    112.9deg,
    #357af6,
    #8431f0 33.6%,
    #7000ff 70.6%,
    #ea56c1
  );
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
