.pattarai-logo-white-18 {
  width: 94px;
  position: relative;
  height: 76px;
  object-fit: cover;
}
.marv8 {
  position: relative;
  font-weight: 800;
  cursor: pointer;
}
.frame27,
.frame28 {
  width: 94px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame27 {
  width: 906px;
  height: 100px;
  flex-direction: row;
  gap: 0 748px;
}
.about-us9 {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.frame26 {
  width: 1078px;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0 80px;
}
.you-named-it {
  margin: 0;
}
.make {
  color: var(--color-darkorchid-100);
}
.it {
  color: var(--color-white);
}
.you-named-it-container {
  width: 525px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  height: 186px;
  flex-shrink: 0;
}
.frame30,
.make1 {
  position: undefined;
}
.make1 {
  font-weight: 800;
  color: transparent;
  display: inline-block;
  -webkit-text-stroke: 1px #fff;
  width: 102px;
  margin-bottom: 18px;
  margin-left: -315px;
}
.frame30 {
  width: 247px;
  height: 186px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 61px;
}
.design-thinking-icon {
  width: 494px;
  position: relative;
  height: 499px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame29,
.new-project2 {
  overflow: hidden;
  display: flex;
}
.frame29 {
  width: 1054px;
  height: 499px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 35px;
  position: undefined;
  margin-right: 17px;
  font-size: var(--font-size-50xl);
}
.new-project2 {
  width: 100%;
  position: relative;
  background: linear-gradient(
    112.9deg,
    #252222,
    #357af6 0.01%,
    #8431f0 34%,
    #7000ff 69.5%,
    #ea56c0
  );
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 37px 101px 136px;
  box-sizing: border-box;
  gap: 60px 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
