.resistor {
  margin-bottom: 0;
}
.project-desc {
  margin: 0;
  font-family: inherit;
  font-size: 30px;
  padding-left: 27px;
}
.resistor-capacitor-wires-container {
  position: absolute;
  top: 387px;
  left: 108px;
  font-weight: 500;
  display: inline-block;
  width: 274px;
  height: 75px;
}
.project-name {
  top: 276px;
  left: 108px;
  font-size: var(--font-size-50xl);
  display: inline-block;
  height: 97px;
}
.home2,
.project-name,
.steps {
  position: absolute;
  font-weight: 500;
}
.steps {
  top: 506px;
  left: 108px;
  font-size: var(--font-size-50xl);
  display: inline-block;
  height: 97px;
}
.home2 {
  top: 77px;
  left: 943px;
  cursor: pointer;
}
.about-us2 {
  font-weight: 500;
}
.about-us2,
.pattarai-logo-white-12 {
  position: absolute;
  cursor: pointer;
}
.about-us2{
  position: absolute;
  display: flex;
  top: 5%;
  right:5%;  
}
.marv2{
  position: absolute;
  display: flex;
  top: 7.5%;
  left: 7%;
}
.pattarai-logo-white-12 {
  top: 39px;
  left: 101px;
  width: 94px;
  height: 76px;
  object-fit: cover;
}
.marv {
  position: absolute;
  top: 76px;
  left: 14px;
  font-weight: 800;
  cursor: pointer;
}
.saved-project1 {
  width: 100%;
  position: relative;
  background: linear-gradient(
    147.41deg,
    #357af6,
    #8431f0 34%,
    #7000ff 66%,
    #ea56c0
  );
  height: 1601px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
