<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet/global.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet/index.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="homepage">
      <div class="bring-your-ideas-container">
        <span>Bring your Ideas to </span>
        <span class="life">LIFE</span>
      </div>
      <div class="life1">LIFE</div>
      <div class="home" id="homeText">Home</div>
      <div class="about-us" id="aboutUsText">About us</div>
      <div class="homepage-child" id="rectangle"></div>
      <div class="homepage-item" id="rectangle1"></div>
      <a href="{{ url_for('new')}}">
      <div class="new-project">New project</div>
      </a>
      <a href="{{ url_for('saved')}}">
      <div class="saved-projects">Saved projects</div>
      </a>
      <img
        class="inspire-others-icon"
        alt=""
        src="{{ url_for('static',filename='img/inspireothers.svg')}}"
      />

      <div class="pattarai-logo-white-1-parent">
        <img
          class="pattarai-logo-white-1"
          alt=""
          src="{{ url_for('static',filename='img/pattarai-logo-white-1@2x.png')}}"
        />

        <div class="marv" id="mARVText">MARV</div>
      </div>
    </div>

    <script>
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('index')}}";
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('aboutus')}}";
        });
      }
      
      var rectangle = document.getElementById("rectangle");
      if (rectangle) {
        rectangle.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('new')}}";
        });
      }
      
      var rectangle1 = document.getElementById("rectangle1");
      if (rectangle1) {
        rectangle1.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('saved')}}";
        });
      }
      
      var mARVText = document.getElementById("mARVText");
      if (mARVText) {
        mARVText.addEventListener("click", function (e) {
          window.location.href = "./blank.html";
        });
      }
      </script>
  </body>
</html>
