<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./new-project.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="new-project1">
      <div class="new-project-child"></div>
      <div class="new-project-item" id="rectangle1"></div>
      <div class="select-components4" id="selectComponentsText">
        Select components
      </div>
      <div class="enter-components4" id="enterComponentsText">
        Enter components
      </div>
      <div class="web-development-tasks-teamw">
        <img
          class="web-development-tasks-teamw1"
          alt=""
          src="./public/web-development---tasks-teamwork-team-working-together-website-webpage-people@2x.png"
        />
      </div>
      <img
        class="illustrator-drawing-with-ipad-icon4"
        alt=""
        src="./public/illustratordrawingwithipad.svg"
      />

      <div class="home8" id="homeText">Home</div>
      <div class="about-us8" id="aboutUsText">About us</div>
      <img
        class="pattarai-logo-white-17"
        alt=""
        src="./public/pattarai-logo-white-1@2x.png"
      />

      <div class="marv7" id="mARVText">MARV</div>
    </div>

    <script>
      var rectangle1 = document.getElementById("rectangle1");
      if (rectangle1) {
        rectangle1.addEventListener("click", function (e) {
          window.location.href = "./blank.html";
        });
      }
      
      var selectComponentsText = document.getElementById("selectComponentsText");
      if (selectComponentsText) {
        selectComponentsText.addEventListener("click", function (e) {
          window.location.href = "./blank.html";
        });
      }
      
      var enterComponentsText = document.getElementById("enterComponentsText");
      if (enterComponentsText) {
        enterComponentsText.addEventListener("click", function (e) {
          window.location.href = "./new-project1-enter.html";
        });
      }
      
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function (e) {
          window.location.href = "./blank.html";
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href = "./blank.html";
        });
      }
      
      var mARVText = document.getElementById("mARVText");
      if (mARVText) {
        mARVText.addEventListener("click", function (e) {
          window.location.href = "./blank.html";
        });
      }
      </script>
  </body>
</html>
