<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./new-project1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="new-project2">
      <div class="frame26">
        <div class="frame27">
          <div class="frame28">
            <img
              class="pattarai-logo-white-18"
              alt=""
              src="./public/pattarai-logo-white-1@2x.png"
            />

            <div class="marv8" id="mARVText">MARV</div>
          </div>
          <div class="marv8" id="homeText">Home</div>
        </div>
        <div class="about-us9" id="aboutUsText">About us</div>
      </div>
      <div class="frame29">
        <div class="frame30">
          <div class="you-named-it-container">
            <p class="you-named-it">You named it,</p>
            <p class="you-named-it">
              <span>We’ll </span>
              <span class="make">MAKE</span>
              <span class="it"> it!</span>
            </p>
          </div>
          <div class="make1">MAKE</div>
        </div>
        <img
          class="design-thinking-icon"
          alt=""
          src="./public/designthinking.svg"
        />
      </div>
    </div>

    <script>
      var mARVText = document.getElementById("mARVText");
      if (mARVText) {
        mARVText.addEventListener("click", function (e) {
          window.location.href = "./blank.html";
        });
      }
      
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function (e) {
          window.location.href = "./blank.html";
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href = "./blank.html";
        });
      }
      </script>
  </body>
</html>
