<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet/global.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet/new-project-1-select-3.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="new-project-1-select-3">
      <div class="select-required-components">Select Required Components</div>
      <div class="electronic-components">Electronic Components</div>
      <div class="power-components">Power Components</div>
      <div class="mechanical-components">Mechanical Components</div>
      <div class="communication-components">Communication Components</div>
      <div class="new-project-1-select-3-child"></div>
      <div class="new-project-1-select-3-item"></div>
      <div class="new-project-1-select-3-inner"></div>
      <div class="new-project-1-select-3-child1"></div>
      <div class="new-project-1-select-3-child2"></div>
      <div class="new-project-1-select-3-child3"></div>
      <div class="select-components">Select components</div>
      <div class="select-your-electronic">
        Select your electronic components
      </div>
      <div class="enter-components">Enter components</div>
      <div class="select-your-power">Select your power components</div>
      <div class="select-your-mechanical">
        Select your mechanical components
      </div>
      <div class="select-your-communication">
        Select your communication components
      </div>
      <div class="new-project-1-select-3-child4"></div>
      <div class="done" id="doneText">Done</div>
      <div class="home3" id="homeText">Home</div>
      <div class="about-us3" id="aboutUsText">About us</div>
      <img
        class="pattarai-logo-white-13"
        alt=""
        src="{{ url_for('static',filename='img/pattarai-logo-white-1@2x.png')}}"
      />

      <div class="marv3" id="mARVText">MARV</div>
      <img
        class="illustrator-drawing-with-ipad-icon"
        alt=""
        src="{{ url_for('static',filename='img/illustratordrawingwithipad.svg')}}"
      />
    </div>

    <script>
      var doneText = document.getElementById("doneText");
      if (doneText) {
        doneText.addEventListener("click", function (e) {
          window.location.href = "./new-project1-select1.html";
        });
      }
      
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('index')}}";
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('aboutus')}}";
        });
      }
      
      var mARVText = document.getElementById("mARVText");
      if (mARVText) {
        mARVText.addEventListener("click", function (e) {
          window.location.href = "./blank.html";
        });
      }
      </script>
  </body>
</html>
