<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet/global.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet/new-project-1-select-4.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="new-project-1-select-4">
      <div class="select-required-components1">Select Required Components</div>
      <div class="electronic-components1">Electronic Components</div>
      <div class="power-components1">Power Components</div>
      <div class="mechanical-components1">Mechanical Components</div>
      <div class="communication-components1">Communication Components</div>
      <div class="new-project-1-select-4-child"></div>
      <div class="new-project-1-select-4-item"></div>
      <div class="new-project-1-select-4-inner"></div>
      <div class="dropdown-menu">
        <div class="dropdown-menu-child"></div>
        <div class="dropdown-menu-item"></div>
        <div class="dropdown-menu-inner"></div>
        <div class="dropdown-menu-child1"></div>
        <div class="dropdown-menu-child2"></div>
        <div class="dropdown-menu-child3"></div>
        <div class="dropdown-menu-child4"></div>
        <div class="dropdown-menu-child5" data-scroll-to="rectangle"></div>
        <div class="dropdown-menu-child6"></div>
      </div>
      <div class="new-project-1-select-4-child1"></div>
      <div class="new-project-1-select-4-child2"></div>
      <div class="new-project-1-select-4-child3"></div>
      <div class="new-project-1-select-4-child4"></div>
      <div class="select-components1">Select components</div>
      <div class="done1" id="doneText">Done</div>
      <div class="select-your-component">Select your component</div>
      <div class="enter-components1">Enter components</div>
      <div class="select-your-power1">Select your power components</div>
      <div class="select-your-mechanical1">
        Select your mechanical components
      </div>
      <div class="select-your-communication1">
        Select your communication components
      </div>
      <div class="resistor1">Resistor</div>
      <b class="capacitor1">Capacitor</b>
      <div class="inductor">Inductor</div>
      <div class="transistor">Transistor</div>
      <div class="transistor1">Transistor</div>
      <div class="led">LED</div>
      <div class="led1">LED</div>
      <div class="microcontroller">Microcontroller</div>
      <div class="diode">Diode</div>
      <b class="b">- 1 +</b>
      <div class="designer-desk"></div>
      <div class="home4" id="homeText">Home</div>
      <div class="about-us4" id="aboutUsText">About us</div>
      <img
        class="pattarai-logo-white-14"
        alt=""
        src="{{ url_for('static',filename='img/pattarai-logo-white-1@2x.png')}}"
      />

      <div class="marv4" id="mARVText">MARV</div>
      <img
        class="illustrator-drawing-with-ipad-icon1"
        alt=""
        src="{{ url_for('static',filename='img/illustratordrawingwithipad.svg')}}"
      />
    </div>

    <script>
      var doneText = document.getElementById("doneText");
      if (doneText) {
        doneText.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='rectangle']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('index')}}";
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('aboutus')}}";
        });
      }
      
      var mARVText = document.getElementById("mARVText");
      if (mARVText) {
        mARVText.addEventListener("click", function (e) {
          window.location.href = "./blank.html";
        });
      }
      </script>
  </body>
</html>
